/* Navigation bar */

nav {
  display: flex;
  background-color: #ff6600;
  align-items: center;
  padding: 5px 20px;
  border-radius: 3px 3px 0 0;
}


.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 0.85rem;
  margin: 0 3px;
}

#nav-all {
  font-weight: bold;
}

.nav-right {
  margin-left: auto;
  text-align: right;
}

#nav-favorites #nav-submit #nav-my-stories {
  font-weight: normal;
}

nav a {
  margin-right: 4px;
}